# Python cache files
__pycache__/
*.py[cod]

# Compiled models and databases
*.gguf
*.db
*.sqlite3

# Virtual environment
venv/

# Chroma DB folder
chroma_db/

# Environment files
.env
!.env.example

# JSON files (except *.example.json)
!*.example.json
*.csv
# Firebase admin SDK key (in specific path)
be/pbl5-microbit-firebase-adminsdk-*.json

# Model directory
models/
*.pkl

# IDE configs
.vscode/
.idea/
